.marine-parks {
  padding: 100px 2rem;
  text-align: center;
}

.marine-parks h1 {
  text-align: center;
}

.marine-parks .card {
  border: 1px solid #ddd;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.marine-parks .card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.marine-parks .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.marine-parks .card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px;
  justify-content: flex-start;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

/* Fix layout for smaller screens */
@media (max-width: 768px) {
  .marine-parks {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  /* Remove the extra margin and padding */
  .card-row-offset {
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: flex;
    justify-content: center; /* Center the row */
  }

  /* Ensure columns take full width on mobile */
  .card-row-offset .col {
    flex: 0 0 100%; /* Ensure cards take full width on small screens */
  }
}
