html {
  scroll-behavior: smooth;
}

.about {
  padding-top: 100px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.about section {
  margin-top: 80px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.about h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about p {
  font-size: 16px;
  line-height: 1.6;
}
